
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header div.menu-principal{
    background: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

header div.menu-principal ul li a{
    text-decoration: none;
    color: white;
}

main .banner{
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 130%;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
}

main .banner h2{
    text-align: center;
}

main .banner h2 span{
    background-color: white;
    font-size: 26px;
    text-align: center;
    padding: 1%;
    font-weight: 400;
    width: 70%;
}
main .banner h3{
        font-size: 17px;
    text-align: center;
    font-weight: 400;
}
main .banner div{
    width: 50%;
}

main .banner .content-banner{
    padding-left: 15%;
    text-align: center;
  
}
main .banner .content-banner button{
    width: 140px;
    height: 40px;
    background: #F0A83E;
    color: white;
    border: none;
  
} 
main .banner .content-banner *{
    margin-bottom: 3%;
}
header div.barra-superior{
    display: flex;
    justify-content: space-between;
    padding: .5% 8%;
    background-color: #000;
    color: white;
}

header nav ul{
    display: flex;
}

header nav ul li{
    padding-right: 20px;
}