
body, h1, ul,h2{
    margin: 0;
}
.barra-superior{
    background-color: #000;
    color: white;
}

.menu-principal{
    background: #F0A83E;
}

.banner{
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}