*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.descuentos{
    background-color: #1CD1B0;
    padding: 10px;
}
main{
    padding: 12% 2%;
}

.heroes{
    background-color: #00669F;
    padding: 20px;
    font-weight: 200;
}
footer{
    background-color: #00669F;
    padding: 10px 20px;
    color: white;
}
.ver-mas{
    background-color: #00669F;
    border: none;
    color: white;
    padding: 15px 30px;
}
.characters-container{
    display: flex;
}
.character{
    background-color: #F3F3F3;
}
.banner{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.banner.batman{
    background-image: url('../images/fondo1.jpg');

}
.banner.harley{
    background-image: url('../images/fondo2.jpg');

}

.img-heroe{
    border-radius: 50%;
}