*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.descuentos{
    background-color: #1CD1B0;
    padding: 10px;
}
main{
    padding: 0% 5% 5%;
}

.heroes{
    background-color: #00669F;
    padding: 20px;
    font-weight: 200;
    color: white;
}
footer{
    background-color: #00669F;
    padding: 10px 20px;
    color: white;
}
.ver-mas{
    background-color: #00669F;
    border: none;
    color: white;
    padding: 15px 30px;
    margin-bottom: 5%;
}
.characters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
}
.character{
    background-color: #F3F3F3;
    width: 30%;
    text-align: center;
    position: relative;
}
.banner{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20%;

}

.banner.batman{
    background-image: url('../images/fondo1.jpg');

}
.banner.harley{
    background-image: url('../images/fondo2.jpg');

}

.img-heroe{
    border-radius: 50%;
    width: 35%;
    position: absolute;
    top: 25%;
    left: 33%;

}
.img-heart{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
}

.description{
    text-align: left;
    padding: 5% 3%;
}

@media (max-width: 600px) {
    .character{
        width: 100%;
    
    }
}

